<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="css/style.css" />
    <!--[if IE 6]>
    <script src="js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->
        
    <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
        
	<script type="text/javascript" src="js/select.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/axios.js"></script>
    <link type="text/css" rel="stylesheet" href="css/element.css"/>
    <script type="text/javascript" src="js/element.js"></script>
    <script type="text/javascript" src="js/element-china-area-data.iife.js"></script>
<title>尤洪</title>
</head>
<body>  
  <div id="root7">
      <!--Begin Header Begin-->
<div class="soubg">
    <div class="soubg">
        <div class="sou">
            <!--Begin 所在收货地区 Begin-->
            <span class="s_city_b">
        	<span class="fl">送货至：</span>
            <span class="s_city">
            	<span>四川</span>
                <div class="s_city_bg">
                	<div class="s_city_t"></div>
                    <div class="s_city_c">
                    	<h2>请选择所在的收货地区</h2>
                        <table border="0" class="c_tab" style="width:235px; margin-top:10px;" cellspacing="0" cellpadding="0">
                          <tr>
                            <th>A</th>
                            <td class="c_h"><span>安徽</span><span>澳门</span></td>
                          </tr>
                          <tr>
                            <th>B</th>
                            <td class="c_h"><span>北京</span></td>
                          </tr>
                          <tr>
                            <th>C</th>
                            <td class="c_h"><span>重庆</span></td>
                          </tr>
                          <tr>
                            <th>F</th>
                            <td class="c_h"><span>福建</span></td>
                          </tr>
                          <tr>
                            <th>G</th>
                            <td class="c_h"><span>广东</span><span>广西</span><span>贵州</span><span>甘肃</span></td>
                          </tr>
                          <tr>
                            <th>H</th>
                            <td class="c_h"><span>河北</span><span>河南</span><span>黑龙江</span><span>海南</span><span>湖北</span><span>湖南</span></td>
                          </tr>
                          <tr>
                            <th>J</th>
                            <td class="c_h"><span>江苏</span><span>吉林</span><span>江西</span></td>
                          </tr>
                          <tr>
                            <th>L</th>
                            <td class="c_h"><span>辽宁</span></td>
                          </tr>
                          <tr>
                            <th>N</th>
                            <td class="c_h"><span>内蒙古</span><span>宁夏</span></td>
                          </tr>
                          <tr>
                            <th>Q</th>
                            <td class="c_h"><span>青海</span></td>
                          </tr>
                          <tr>
                            <th>S</th>
                            <td class="c_h"><span>上海</span><span>山东</span><span>山西</span><span class="c_check">四川</span><span>陕西</span></td>
                          </tr>
                          <tr>
                            <th>T</th>
                            <td class="c_h"><span>台湾</span><span>天津</span></td>
                          </tr>
                          <tr>
                            <th>X</th>
                            <td class="c_h"><span>西藏</span><span>香港</span><span>新疆</span></td>
                          </tr>
                          <tr>
                            <th>Y</th>
                            <td class="c_h"><span>云南</span></td>
                          </tr>
                          <tr>
                            <th>Z</th>
                            <td class="c_h"><span>浙江</span></td>
                          </tr>
                        </table>
                    </div>
                </div>
            </span>
        </span>
            <!--End 所在收货地区 End-->
            <span class="fr">
        	<span class="fl">你好，{{$data.user.username ?  $data.user.username : '请登录'}}&nbsp;<a v-if="!$data.user.username" href="Login.html">登录</a>&nbsp;&nbsp;<a v-if="$data.user.username" href="javascript:void(0)" @click="logout()">注销</a>&nbsp;&nbsp; <a href="register.html" style="color:#ff4e00;">免费注册</a>&nbsp;|&nbsp;<a
                    href="#">我的订单</a>&nbsp;|</span>
        	<span class="ss">
            	<div class="ss_list">
                	<a href="#">收藏夹</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                            	<li><a href="#">我的收藏夹</a></li>
                                <li><a href="#">我的收藏夹</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ss_list">
                	<a href="#">客户服务</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                            	<li><a href="#">客户服务</a></li>
                                <li><a href="#">客户服务</a></li>
                                <li><a href="#">客户服务</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ss_list">
                	<a href="#">网站导航</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                            	<li><a href="#">网站导航</a></li>
                                <li><a href="#">网站导航</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </span>
            <span class="fl">|&nbsp;关注我们：</span>
            <span class="s_sh"><a href="#" class="sh1">新浪</a><a href="#" class="sh2">微信</a></span>
            <span class="fr">|&nbsp;<a href="#">手机版&nbsp;<img src="images/s_tel.png" align="absmiddle" /></a></span>
        </span>
        </div>
    </div>
    <div class="m_top_bg">
        <div class="top">
            <div class="m_logo"><a href="Index.html"><img src="images/logo1.png" /></a></div>
            <div class="i_car">
                <div class="car_t">购物车 [ <span>{{productLength}}</span> ]</div>
                <div class="car_bg">
                    <!--Begin 购物车未登录 Begin-->
                    <ul v-if="$data.user.username" class="cars">
                        <li v-for="(item, index) in products" :key="index" >
                            <div class="img"><a href="#"><img height="58" :src="'http://localhost:8080/getImage?filePath=' + item.filePath" width="58"/></a></div>
                            <div class="name"><a href="#">{{item.name}}</a></div>
                            <div class="price"><font color="#ff4e00">￥{{item.price}}</font> X{{item.count}}</div>
                        </li>
                        <div class="price_sum">共计&nbsp; <font color="#ff4e00">￥</font><span>{{totalPrice}}</span></div>
                        <div class="price_a"><a href="BuyCar.html">去购物车结算</a></div>
                    </ul>
                    <div v-else class="un_login">
                        还未登录！<a href="Login.html" style="color:#ff4e00;">马上登录</a> 查看购物车！

                    </div>

                    <!--End 购物车已登录 End-->
                </div>
            </div>
        </div>
    </div>
<!--End Header End--> 
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
	<div class="m_content">
        <div class="m_left">
            <div class="left_n">管理中心</div>
            <div class="left_m">
                <div class="left_m_t t_bg1">订单中心</div>

                <ul>
                    <li><a href="order.html">我的订单</a></li>
                    <li v-if="$data.user.roleId===1||$data.user.roleId===2"><a href="order.html">全部订单</a></li>
                    <li><a href="member/Member_Address.html" class="now">地址管理</a></li>
                    <li><a href="Member_Collect.html">我的收藏</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg2">用户中心</div>
                <ul>
                    <li><a href="User_detail.html">用户信息</a></li>
                    <li><a href="Member_Member.html">用户列表</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg3">商品管理</div>
                <ul>
                    <li><a href="Category.html">分类管理</a></li>
                    <li><a href="Member_Product.html">商品管理</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg4">咨询管理</div>
                <ul>
                    <li><a href="news.html">咨询列表</a></li>
                </ul>
            </div>
        </div>
        <div class="m_right">
            <div class="mem_tit">
            	<a >修改地址</a>
            </div>
            <el-form style="text-align: center;" :model="address" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
              <el-form-item style="width: 500px;" label="地址" prop="addressList">
                <el-cascader style="float: left;"
                  size="large"
                  :options="pcTextArr"
                  v-model="address.addressList">
                </el-cascader>
              </el-form-item>
              <el-form-item style="width: 500px;"  label="详细地址" prop="detailAddress">
                <el-input v-model="address.detailAddress"></el-input>
              </el-form-item>
              <el-form-item style="width: 500px;" label="收件人" prop="recipient">
                <el-input v-model="address.recipient"></el-input>
              </el-form-item>
              <el-form-item style="width: 500px;" label="电话" prop="phone">
                <el-input v-model="address.phone"></el-input>
              </el-form-item>
              <el-form-item style="width: 500px;" label="备注" prop="remark">
                <el-input v-model="address.remark"></el-input>
              </el-form-item>
              <el-form-item style="width: 500px;" label="设为默认地址">
                <el-switch style="float: left; " v-model="address.isSure"></el-switch>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">修改</el-button>
                <el-button @click="resetForm('ruleForm')">重置</el-button>
                <el-button type="primary" @click="back">返回</el-button>
              </el-form-item>
            </el-form>
          </div>
        </div>
    </div>
	<!--End 用户中心 End--> 
    <!--Begin Footer Begin -->
    <div class="b_btm_bg b_btm_c">
        <div class="b_btm">
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
              <tr>
                <td width="72"><img src="images/b1.png" width="62" height="62" /></td>
                <td><h2>正品保障</h2>正品行货  放心购买</td>
              </tr>
            </table>
			<table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
              <tr>
                <td width="72"><img src="images/b2.png" width="62" height="62" /></td>
                <td><h2>满38包邮</h2>满38包邮 免运费</td>
              </tr>
            </table>
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
              <tr>
                <td width="72"><img src="images/b3.png" width="62" height="62" /></td>
                <td><h2>天天低价</h2>天天低价 畅选无忧</td>
              </tr>
            </table>
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
              <tr>
                <td width="72"><img src="images/b4.png" width="62" height="62" /></td>
                <td><h2>准时送达</h2>收货时间由你做主</td>
              </tr>
            </table>
        </div>
    </div>
    <div class="b_nav">

    	<dl>                                                                                            
        	<dt><a href="#">新手上路</a></dt>
            <dd><a href="#">售后流程</a></dd>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">订购方式</a></dd>
            <dd><a href="#">隐私声明</a></dd>
            <dd><a href="#">推荐分享说明</a></dd>
        </dl>
        <dl>
        	<dt><a href="#">配送与支付</a></dt>
            <dd><a href="#">货到付款区域</a></dd>
            <dd><a href="#">配送支付查询</a></dd>
            <dd><a href="#">支付方式说明</a></dd>
        </dl>
        <dl>
        	<dt><a href="#">会员中心</a></dt>
            <dd><a href="#">资金管理</a></dd>
            <dd><a href="#">我的收藏</a></dd>
            <dd><a href="#">我的订单</a></dd>
        </dl>
        <dl>
        	<dt><a href="#">服务保证</a></dt>
            <dd><a href="#">退换货原则</a></dd>
            <dd><a href="#">售后服务保证</a></dd>
            <dd><a href="#">产品质量保证</a></dd>
        </dl>
        <dl>
        	<dt><a href="#">联系我们</a></dt>
            <dd><a href="#">网站故障报告</a></dd>
            <dd><a href="#">购物咨询</a></dd>
            <dd><a href="#">投诉与建议</a></dd>
        </dl>
        <div class="b_tel_bg">
        	<a href="#" class="b_sh1">新浪微博</a>            
        	<a href="#" class="b_sh2">腾讯微博</a>
            <p>
            服务热线：<br />
            <span>400-123-4567</span>
            </p>
        </div>
        <div class="b_er">
            <div class="b_er_c"><img src="images/er.gif" width="118" height="118" /></div>
            <img src="images/ss.png" />
        </div>
    </div>    
    <div class="btmbg">
		<div class="btm">
        	备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
            <img src="images/b_1.gif" width="98" height="33" /><img src="images/b_2.gif" width="98" height="33" /><img src="images/b_3.gif" width="98" height="33" /><img src="images/b_4.gif" width="98" height="33" /><img src="images/b_5.gif" width="98" height="33" /><img src="images/b_6.gif" width="98" height="33" />
        </div>    	
    </div>
    <!--End Footer End -->    
</div>
  </div>
</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
<script type="text/javascript" src="js/request.js"></script>
<script>
  new Vue({
    el:"#root7",
    data() {
      const checkPhone = (rule, value, callback) =>{
        var phone = /^1\d{10}$/
        if(!phone.test(value)){
          callback(new Error("请输入一个11位的1开头的数字"))
        }else{
          callback()
        }
      }
      return {
        address:{
          addressList:'',
          detailAddress:'',
          recipient:'',
          phone:'',
          remark:'',
          isSure:false,
        },
        id:0,
        totalAddess:'',
        updateId:0,
        pcTextArr:elementChinaAreaData.pcaTextArr,
          productLength:"",
          totalPrice:"",
          user:{
              username:"",
              id:null,
              roleId:null,
          },
          products:[],
        page:[],
        rules:{
          addressList:[
            {required: true, message: '请选择地址', trigger: 'change'}
          ],
          detailAddress:[
            {required: true, message: '请输入详细地址', trigger: 'blur'},
            { min: 2, max: 10, message: '长度在 3 到 10 个字符', trigger: 'blur' }
          ],
          recipient:[
            {required: true, message: '请输入收件名', trigger: 'blur'},
            { min: 2, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
          ],
          phone:[
            {required: true, message: '请输入电话号码', trigger: 'blur'},
            { validator: checkPhone, trigger: 'blur'}          
          ],
          remark:[
            { min: 1, max: 20, message: '长度在 1 到 20 个字符', trigger: 'blur' }
          ],
        }
      }
    },
    async mounted() {
        await this.initLogin()
        this.initCat()
      var search = new URLSearchParams(window.location.search);
      var id = search.get("id");
      this.id = id;
      axios.get("http://localhost:8080/getAddressByIdAndUserId",{
          params:{
            id:id,
            userId:this.user.id
          }
        }).then((result) => {
          console.log(result.data);
          const tempList = result.data.address.split('/');
          var addList = [];
          for (let i = 0; i < tempList.length; i++) {
            if(i < 3) {
              addList.push(tempList[i]);
            }else{
              this.address.detailAddress = tempList[i];
            }
          }
          this.address.addressList = addList;
          this.address.recipient = result.data.recipient;
          this.address.phone = result.data.phone;
          this.address.remark = result.data.remark;
          if(result.data.isSure == 1 ){
            this.address.isSure = true;
          }else{
            this.address.isSure = false;
          }
        });
    },
    methods: {
        async getToken(token){
            await axios.get('http://localhost:8080/getUser',{
                params:{
                    token:token
                }
            }).then((result) => {
                console.log(result);
                this.user = result.data
            });
        },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          this.totalAddess = this.address.addressList.join('/')+'/'+ this.address.detailAddress;
          console.log(this.address.address)
          if (valid) {
            axios.get('http://localhost:8080/updateAddress',{
              params:{
                id:this.id,
                address:this.totalAddess,
                userId:this.user.id,
                remark:this.address.remark,
                recipient:this.address.recipient,
                phone:this.address.phone,
                isSure:this.address.isSure ? 1:0
              }
            }).then((result) => {
              console.log(result.data);
              if(result.code == 200){
                alert("修改成功!")
                window.location.href = "Member_Address.html"
              }
            });
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
        this.address.addressList='';
        this.address.isSure = false;
      },
      back(){
        window.location.href = "Member_Address.html"
      },
        async initLogin() {
            let token=localStorage.getItem("token");
            await axios.get('http://localhost:8080/getUser', {params: {token: token}})
                .then((resp) => {
                    this.user.username=resp.data.userName
                    this.user.id=resp.data.id
                    this.user.roleId=resp.data.roleId
                });
        },
        async initCat() {
            let token=localStorage.getItem("token");
            await axios.get('http://localhost:8080/getAllCats', {params: {token: token}})
                .then((resp) => {
                    this.products=resp.data
                    let sum = 0;
                    this.productLength=this.products.length
                    for (let i = 0; i < this.products.length; i++) {
                        sum += this.products[i].price*this.products[i].count;
                        this.totalPrice=sum;
                    }
                });
        },
        logout() {
            let token=localStorage.getItem("token");
            localStorage.removeItem("token");
            axios.get('http://localhost:8080/logout', {params: {token: token}})
                .then((resp) => {
                    console.log(resp.data);
                    window.location.href="index.html"
                });
        },
    },
  })
</script>
