<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.easybuy.dao.CollectionMapper">
    <insert id="collectProduct" parameterType="map">
        insert into easybuy_collections(userId,productId,isDel,createTime)
        values(#{userId},#{productId},0,now())
    </insert>

    <select id="getCollectionByproductIdAndUserId"  parameterType="Collect" resultType="int">
        select count(1) from easybuy_collections where productId = #{productId} and userId = #{userId}
        and isDel = 0
    </select>
    
    <update id="deleteCollection" parameterType="Collect">
        update easybuy_collections set isDel = 1 where productId = #{productId} and userId = #{userId}
    </update>

</mapper>