<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.easybuy.dao.UserMapper">
    <select id="login" parameterType="com.kgc.easybuy.pojo.User" resultType="com.kgc.easybuy.pojo.User">
        select  id,
            loginName,
            userName,
            password,
            sex,
            identityCode,
            email,
            mobile,
            type,
            power,
            delFlag from easybuy_user
        where
        loginName = #{loginName}
        and password = #{password}
        and delFlag = 0
    </select>

    <update id="updatePwd" parameterType="com.kgc.easybuy.pojo.User">
        update  easybuy_user
        <set>
            <if test="password != null and password != ''">
                password = #{password}
            </if>
        </set>
        where LoginName = #{LoginName]} and delFlag = 0
    </update>

    <select id="checkUserExist" parameterType="com.kgc.easybuy.pojo.User" resultType="com.kgc.easybuy.pojo.User">
        select  id,
                loginName,
                userName,
                password,
                sex,
                identityCode,
                email,
                mobile,
                type,
                power,
                delFlag from easybuy_user
        where loginName = #{loginName} and delFlag = 0
    </select>
</mapper>